.footer_inicio{
    font-size: 16px;
    font-family:'Poppins', sans-serif, 'Roboto Mono', monospace, 'Merriweather', serif;
    color:rgb(240, 9, 17);
    border: 1px solid;
    background-color: #8D99AE;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
} 

.icono_facebook{
    width: 20px;
    height: 20px;
}