@media screen and (max-width: 480px){
    #seccion_inicial{
        flex-direction: column;
        align-items: center;
    }
    
    #articulo_inicial{
        width: 85%;
    }

    /* Adaptación de la página de Integrantes al diseño responsive */
    #principal_integrantes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 2fr);
        grid-template-areas: 
        "parrafo1"
        "parrafo2"
        "parrafo3"
        "parrafo4"
        "parrafo5";
        gap: 5px;
        div{
            height: 350px;
            display: flex;
            align-items: center;
            p{
                padding: 10px 15px;
                color:rgb(231 84 84);
                font-size: 16px;
            }
            h2{
                color:rgb(203 15 15);
                padding: 8px;
                font-size: 22px;
            }
            a{
                color: #00d0ff;
            }
        }
    }
    #parrafo_sidotti{
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* Fin página de integrantes diseño responsive */

    /* adaptación al diseño responsive página de discografía */
    #principal_discografia{
        #seccion_principal_discografia{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 0px;
        grid-template-areas: 
        "disco1 disco2"
        "disco3 disco4"
        "disco5 disco6"
        "disco7 disco8"
        "disco9 disco10";
        div{
            margin: 0px;
            margin-top: 10px;
            padding-top: 10px;
            a{
                &:hover{
                    font-size: 14px;
                    img{
                        width: 160px;
                        height: 160px;
                    }
                    .imagen_disco4{
                        width: 200px;
                        height: 160px;
                    }
                }
            }
            img{
                width: 130px;
                height: 130px;
            }
            .imagen_disco4{
                width: 180px;
                }
            h2{
                font-size: 20px;
                margin: 5px;
                }
            ol{
                margin: 5px;
                margin-left: 15px;
                padding: 3px;
                li{
                    padding: 3px;
                    audio{
                        width: 180px;
                        }
                    }
                }
            }
        }
    }
    /* Fin de diseño responsive página de discografía */

    /* inicio diseño responsive página de historia */
    #principal_historia{
        #seccion_principal_historia{
                #articulo_origenes_historia{
                    #origenes_historia {
                        flex-direction: column;
                        img{
                            margin: 10px;
                        }
                    }
                }
                #integrantes_historia{
                    flex-direction:column;
                    figure{
                        display: flex;
                        align-items: center;
                        margin: 15px;
                    }
                    .imagen1_integrantes{
                        width: 170px;
                        height: 130px;
                        margin: 10px;
                    }
                    .imagen2_integrantes{
                        width: 200px;
                        height: 130px;
                        margin: 10px;
                    }
                }
            }
        }

    /* menú del navegador de todas las páginas */
    .lista1_inicio{
        flex-direction: column;
        padding: 5px;
    }
    
    /* formulario página de contacto */
    .principal_contacto{
        .formulario_contacto{
            font-size: 20px;
            color:rgb(245, 7, 62);
            padding-left: 0%;
            align-items:center;
            label{
                padding-top: 20px;
            }
            .boton_enviar{
                color: rgb(85, 85, 131);
            }
        }
    }
    .footer_inicio{
        font-size: 12px;
    }
    .titulo_inicio{
        font-size: 44px;
        padding: 20px;
    }
    /* fin formulario página de contactos */  
}