@media screen and (max-width: 800px) {
    #body_principal {
        .principal_inicio {
            #seccion_inicial {
                #articulo_inicial {
                    section {
                        .mi_mapa_inicio {
                            width: 100%;
                            padding: 2px;
                            margin: 5px 25px 20px 25px;
                        }
                    }
                }
            }
        }
    }
}